version: "3.9"

services:
  db:
    image: postgres:16
    container_name: mics_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: mics_user
      POSTGRES_PASSWORD: change_me
      POSTGRES_DB: mics_db
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: ./api
    container_name: mics_api
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql+psycopg2://mics_user:change_me@db:5432/mics_db
      JWT_SECRET: pishoto
      JWT_ALGORITHM: HS256
      JWT_AUDIENCE: mics-clients
      JWT_ISSUER: mics-api
    depends_on:
      - db
    ports:
      - "8000:8000"
    
  orchestrator:
    build: ./orchestrator
    container_name: mics_orchestrator
    restart: unless-stopped
    network_mode: host
    environment:
      REDIS_URL: redis://127.0.0.1:6379/0
    depends_on:
      - api

  web_ui:
    build: ./web_ui
    container_name: mics_web_ui
    restart: unless-stopped
    depends_on:
      - orchestrator
    ports:
      - "8080:8080"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      MICS_API_TOKEN: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJtaWNzLXRlcm1pbmFsIiwiYXVkIjoibWljcy1jbGllbnRzIiwiaXNzIjoibWljcy1hcGkiLCJzY29wZSI6Im1pY3MiLCJpYXQiOjE3NjgzOTMwNjMsImV4cCI6MTc4NDE1NzQ2M30.FERdrcYd5BvbMqAPFBWGH7q_86CkRbjP2Np-SfRYCEg"
      REDIS_URL: redis://127.0.0.1:6379/0
  redis:
    image: redis:7
    container_name: mics_redis
    restart: unless-stopped
    ports:
      - "6379:6379"



volumes:
  db_data:
